body{
    background-color: #5E8ED8;
    padding: 0;
    margin: 0;
}

#road{
    background-image: url('./images/road.png');
    /* background-repeat: no-repeat;
    background-size: contain; */
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: 0;
}